always-auth=true

# Electron's version.
# target=17.1.2

# Download headers for Electron.
# disturl=https://electronjs.org/headers

# Tell node-pre-gyp that we are building for Electron.
# runtime=electron

# Tell node-pre-gyp to build module from source code.
# fallback_to_build=true

# sqlite3=${PWD}/sqlite
# sqlite3=/Users/adammiller/Projects/universe/app/sqlite
# build-from-source=better-sqlite3
