always-auth=true

# Electron's version.
# Download headers for Electron.
# Tell node-pre-gyp that we are building for Electron.
# Tell node-pre-gyp to build module from source code.

# target=13.1.6
# disturl=https://electronjs.org/headers
# runtime=electron
# fallback_to_build=true
